<app-nav-bar></app-nav-bar>

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
         <div class="card-title"><h4>Produtos</h4></div>
           <form [formGroup]="produtoForm" (ngSubmit)="salvar()">
            <div class="form-group">
             <label for="name">Nome</label>
             <input type="text" placeholder="Nome" class="form-control" id="name" formControlName="name">
            </div>
            <br />
            <div class="form-group">
                <label for="price">Preço</label>
                <input type="number" placeholder="Preço" class="form-control" id="price" formControlName="price">
               </div>
               <br />
               <div class="form-group">
                <label for="description">Descrição</label>
                <textarea name="" id="description" formControlName="description" rows="3" class="form-control"></textarea>
               </div>
               <br />
               <button class="btn btn-primary" [disabled]="produtoForm.invalid">Salvar</button>
         </form>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h4>Lista de produtos</h4></div>
        <table class="table">
          <thead>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Ação</th>
          </thead>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.name }}</td>
            <td>{{ produto.price }}</td>
            <td>{{ produto.description }}</td>
            <td style="width: 100px;">
            <div>
            <button (click)="remover(produto)" class="btn btn-danger btn-sm" type="button">Remover</button>
            </div>
           </td>
          </tr>
        </table>
        </div>
    </div>
</div>

